*.bak*
*.clean*
*.full
*.restore
*.pre_split
*.exterior_backup
*.shbak*
*.sledge_backup*
*~
*.old*
*.new*
*.save
*.test
*.wip
*.before_move
*.backup
CHANGES*
bck*
00hist*
*_tail.thy
Top1.thy.bck*
CLAUDE_ISA_TOP.md
oracle_*.txt
*.tex
Scratch*.thy
ROOT.old*
ROOT.goodtop
timing_info*
timing_analysis*
*.cast
*.cast.gz
*.scala
*.ML
*.py
bl*.scala
pa*.scala
pi.scala
pr.scala
se.scala
snap*.scala
scch*.scala
introspect.scala
*_oracles*.txt
instructions.md
session*.cast.gz
isa*.cast*
